!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
  html.no-js.lt-ie9(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title='come with me on an adventure you\'ll never remember...'
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/style.css')
    //-script(src='javascripts/libs/modernizr-2.5.3.min.js')
  body
    div.cll-content(role='main')
        div.cll-profile
            img(src='img/me.jpg', alt='me')
        div.cll-bio-wrap
            section.cll-bio
                | Hello Internet! You've reached this fine homepage full of links regarding one Cheston Lee of San Francisco, California. I am a fun loving geek who enjoys a good cup of tea between adventures.
        section.cll-social
            ul
                li.cll-social-twitter
                    a(href="twitter.com/cheston") twitter
                li.cll-social-fb
                    a(href="facebook.com/cheston.lee") facebook
                li.cll-social-gh
                    a(href="github.com/chestone") github
                li.cll-social-sm
                    a(href="chestone.smugmug.com") smugmug
                li.cll-social-ig
                    a(href="instagram.com/chestone") instagram
                li.cll-social-tmblr
                    a(href="tumblr.com/chestone") tumblr

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script
      window.jQuery || document.write('<script src="javascripts/libs/jquery-1.7.2.min.js"><\\/script>')
    //-script(src='javascripts/plugins.js')
    //-script(src='javascripts/script.js')
    //- change UA-XXXXX-X to your id and outdent the following:
    //-
      script
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
