<aside class="siderail">
    <section class="gravatar-section">
        <img src="http://gravatar.com/avatar/992f3e0900c7b3a8d5f658a668d3d65d?s=250" alt="bio-photo">
    </section>
    <section class="section-bio">
        <p>My name is Cheston and I live in San Francisco, California with my boyfriend James and two adorable cats.</p>
        <p>
            I enjoy listening to jams on my <a href="http://www.project-audio.com/main.php?prod=debutcarbon&cat=turntables&lang=en">fancy turntable</a>, working out
            at the gym and cooking for friends. Also video games are kinda neat too.
        </p>

    </section>
</aside>
