a {
  color: #222222;
  text-decoration: none;
  transition: color 0.25s ease; }

a:hover {
  color: #0a9e01;
  text-decoration: underline; }

body {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  background-color: #fbfbfb;
  color: #222222;
  line-height: 1.5em; }

h1, h2, h3, h4, h5 {
  font-weight: bold; }

.headline {
  font-weight: 100; }

.site {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  background-color: white; }
  .site header {
    height: 100px;
    color: white;
    background-color: #0a9e01;
    padding: 0 20px;
    padding-top: 30px; }
    .site header h1, .site header h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 100; }
    .site header h1 {
      font-size: 32px; }
    .site header h3 {
      margin-top: 10px;
      font-size: 16px; }
  .site nav {
    background-color: #FBFBFB;
    padding: 10px 0; }
  .site nav li {
    display: inline-block;
    margin-left: 25px; }
  .site .main {
    margin-top: 25px;
    padding: 0 20px;
    height: 768px; }
    .site .main .siderail {
      display: inline-block;
      width: 300px; }
      .site .main .siderail .section-bio {
        width: 80%;
        white-space: pre-line; }
    .site .main .content {
      display: inline-block;
      vertical-align: top;
      max-width: 650px; }
      .site .main .content .postTitle {
        font-size: 18px;
        font-weight: 500; }
      .site .main .content article.pagination {
        border-top: 1px dashed grey;
        text-align: center;
        margin-top: 20px;
        padding-top: 20px; }
  .site footer {
    text-align: center;
    font-weight: 100;
    font-family: "Roboto", sans-serif; }
    .site footer h4 {
      border-top: 1px dashed grey;
      margin: 0 30px;
      padding: 15px 0; }

.group:before {
  content: '';
  display: table; }

.group:after {
  clear: both; }
