$primary-color: #000;
$font-family: Helvetica, Arial, sans-serif;
$bg-color: #FBFBFB;
$font-color: rgb(34, 34, 34);
$link-color: rgb(10,158,1);

a {
    color: $font-color;
    text-decoration: none;
    transition: color 0.25s ease;
}

a:hover {
    color: $link-color;
    text-decoration: underline; 
}

body {
    font-size: 16px;
    font-family: $font-family;
    font-weight: 100;
    background-color: $bg-color;
    color: $font-color;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

.headline {
    font-weight: 100;
}

.site {

    width: 1024px;
    height: 100%;
    margin: 0 auto;
    background-color: white;

    header {
        height: 100px;
        color: white;
        background-color: rgb(10,158,1);
        padding: 0 20px;
        padding-top: 30px;

        h1, h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
        }

        h1 {
            font-size: 32px;
        }

        h3 {
            margin-top: 10px;
            font-size: 16px;
        }
    }

    nav {
        background-color: #FBFBFB;
        padding: 10px 0;
    }

    nav li {
        display: inline-block;
        margin-left: 25px;
    }

    .main {
        margin-top: 25px;
        padding: 0 20px;
        height: 768px;
        .siderail {
            display: inline-block;
            width: 300px;

            .section-bio {
                width: 80%;
                white-space: pre-line;
            }
        }

        .content {
            display: inline-block;
            vertical-align: top;
            max-width: 650px;
        }
    }
}

.group:before {
    content: '';
    display: table;
}

.group:after {
    clear: both;
}
