$primary-color: #000;
$font-family: Helvetica, Arial, sans-serif;
$roboto : 'Roboto', sans-serif;
$bg-color: #FBFBFB;
$seperator-color: rgb(239, 239, 239);
$font-color: rgb(34, 34, 34);
$link-color: rgb(10,158,1);
$box-shadow: inset 0 -4px 6px -6px black;
$hero-green: rgb(10, 158, 1);


a {
    color: $font-color;
    text-decoration: none;
    transition: color 0.25s ease;
}

a:hover {
    color: $link-color;
}

body {
    font-size: 16px;
    font-family: $font-family;
    font-weight: 100;
    background-color: $bg-color;
    color: $font-color;
    line-height: 1.5em;
}

::selection {
    color: white;
    background: $hero-green;
}

::-moz-selection {
    color: white;
    background: $hero-green;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

.headline {
    font-weight: 100;
}

.site {

    width: 1024px;
    height: 100%;
    margin: 0 auto;
    background-color: white;

    header {
        height: 100px;
        color: white;
        background-color: $hero-green;
        padding: 0 20px;
        padding-top: 30px;
        box-shadow: $box-shadow;

        h1, h3 {
            font-family: $roboto;
            font-weight: 100;
        }

        h1 {
            font-size: 32px;
        }

        h3 {
            margin-top: 10px;
            font-size: 16px;
        }
    }

    nav {
        background-color: #FBFBFB;
        padding: 10px 0;
        box-shadow: $box-shadow;
    }

    nav li {
        display: inline-block;
        margin-left: 25px;
    }

    .main {
        margin-top: 25px;
        padding: 0 20px;
        .siderail {
            display: inline-block;
            width: 300px;

            .section-bio {
                width: 80%;
                white-space: pre-line;
            }
        }

        .content {
            display: inline-block;
            vertical-align: top;
            max-width: 650px;

            .post {
                border-bottom: 1px dashed grey;
                margin-bottom: 25px;
                padding-bottom: 25px;

                .postTitle {
                    font-size: 24px;
                    font-weight: 500;
                    display: inline;
                }
                .date {
                    display: inline;
                    float:right;
                }
                .date:after {
                  clear: right;
                }

                .postContent {
                    margin-top: 15px;
                    padding: 0 10px;
                    line-height: 1.5;

                    img {
                      margin-top: 15px;
                      margin-bottom: 15px;
                    }

                    p {
                      margin-bottom: 15px;
                    }
                }
            }

            .post:last-of-type {
              border: none;
            }

            .pagination {
                border-top: 1px dashed grey;
                text-align: center;
                margin-top: 20px;
                padding-top: 20px;
                margin-bottom: 25px;
            }
        }
    }

    footer {
        text-align: center;
        font-weight: 100;
        font-family: $roboto;

        .copyright {
            border-top: 1px solid grey;
            margin: 0 30px;
            padding: 15px 0;
        }
    }
}

.group:before {
    content: '';
    display: table;
}

.group:after {
    clear: both;
}
