@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500);

/* flexbox things */
.flexColumn {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flexRow {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
}

body {
  background-color: rgb(246,246,246);
  font: 16px Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0 0 1em 0;
  line-height: 1.5;
}

a {
  color: rgb(10,158,1);
  text-decoration: none;
}

header {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 100%;
  background-color: rgb(10,158,1);
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 5px;
}

section {
  margin-bottom: 2%;
}

article {
  margin-bottom: 5%;
}

.breathe {
  margin-bottom: 2%;
}

.headline {
  font-size: 24px;
  font-weight: 100;
  text-transform: lowercase;
}

.headerContainer .info a {
    color: white;
    cursor: pointer;
}

.content {
  background: #FFF;
}

.content .experienceList li {
  margin-bottom: 1%;
  margin-left: 2%;
}

.content .experienceList li:before {
  content: ' - ';
}

.bio-objective,
.education-skills {
  background-color: rgb(246,246,246);
  padding: 15px;
  padding-top: 5px;
}

/* Mobile Phone Specific Styles*/
@media only screen
/*and (max-width: 1024px) {*/
and (max-device-width: 1024px) {
  body {
    font-size: 20px;
  }

  section {
    margin-bottom: 2%;
  }

  article {
    margin-bottom: 5%;
  }

  .flexRow {
    display: block;
  }

  .group {
    margin-bottom: 2%;
  }

  .headline {
    font-size: 64px;
    font-weight: 100;
    margin-bottom: 4%;
  }

  .headerContainer {
    font-size: 42px;
    font-weight: 300;
    padding: 5%;
  }

  .headerContainer .name {
    font-size: 64px;
    font-weight: 300;
  }

  .content {
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 1%;
    max-width: 1024px;
    margin: auto;
    padding: 35px;
  }
}
/* Tablet(iPad) & Desktop Specific Styles*/
@media only screen
and (min-width: 1024px) {
  .headline {
    margin-bottom: 18px;
  }

  .headerContainer {
    max-width: 1024px;
    font-weight: 100;
    margin: auto;
  }

  .headerContainer .name {
    font-size: 32px;
    font-weight: 100;
    margin-top: 46px;
  }

  .content {
    font-weight: 100;
    max-width: 1024px;
    margin: auto;
    padding: 35px;
  }

  .info {
    text-align: right;
    margin-top: 30px;
  }

  .info li {
      margin: 0;
      line-height: 1.2em;
  }

  .bio-intro,
  .education-college {
    width: 50%;
  }

  .bio-objective,
  .education-skills {
    width: 30%;
  }
}
