<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/dest/css/built.css">

    </head>
    <body>
        <section class="site">
            {% include header.html %}
            <section class="main group">
                {% include siderail.html %}
                <article class="content">
                    {{ content }}
                </article>
            </section>
            {% include footer.html %}
        </section>
    </body>
</html>
